/* @import "../app/app.module.css"; */

.grid {
  display: grid;
  grid-template-columns: auto auto;
}

.grid__imageBorder {
  /* border: 3px solid black; */
  height: 400px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid__image {
  /* border: 3px solid black; */
  height: 300px;
  width: 300px;
  display: flex;
  transform: var(--rotation) var(--horizontalInversion) var(--verticalInversion);
  border: var(--border);
  /* -webkit-filter: invert(100%);
  filter: invert(100%); */
}
