.grid {
  display: grid;
  grid-template-columns: auto auto;
  margin: 0;
}

.grid__imageBorder {
  /* border: 3px solid black; */
  height: 400px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid__image_selected {
  border: var(--border);
  transform: var(--rotation) var(--horizontalInversion) var(--verticalInversion);
}

.grid__image {
  /* border: 3px solid black; */
  height: 300px;
  width: 300px;
  display: flex;
  -webkit-filter: var(--filter);
  filter: var(--filter);
}
