/* @import "../app/app.module.css"; */

.grid {
  display: grid;
  grid-template-columns: auto auto;
}

.grid__imageBorder {
  border: 3px solid black;
  height: 400px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid__image {
  /* border: 3px solid black; */
  height: 300px;
  width: 300px;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  transform: var(--rotation) var(--horizontalInversion) var(--verticalInversion);

  /* line-height: 50px; */
  /* text-align: center;
  padding-top: 50px; */
}
