.urlInputContainer {
  position: relative;
  top: 20px;
  left: 10px;
  display: flex;
}
.urlInputContainer__input {
  width: 1000px;
}
.urlInputContainer__button {
  position: relative;
  top: 12px;
  left: 10px;
}
