@import "../app/app.module.css";

.actionsBar {
  height: 500px;
  width: 100px;
  /* border: 3px solid black; */
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  top: 100px;
  left: 50px;
}

.actionsBar__title {
  color: var(--actionColor);
}

.actionsBar__numberField {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actionsBar__rotateIcon {
  position: relative;
  top: 10px;
  cursor: pointer;
}

.actionsBar__horizontalFlipIcon {
  cursor: pointer;
  position: relative;
  top: 30px;
}

.actionsBar__verticalFlipIcon {
  cursor: pointer;
  position: relative;
  top: 50px;
}

.actionBar__resetIcon {
  cursor: pointer;
  position: relative;
  top: 70px;
}

.actionBar__filters {
  position: relative;
  top: 90px;
}
